<div class="grid place-items-center pt-12 px-6 " id="<%= dom_id item %>">
 <div class ="px-8 py-8 bg-white drop-shadow-md rounded-2xl"> 
  <p class="font-bold text-3xl">
    
    <%= item.name %>
  </p>

   <p>
    
    <%= image_tag item.image_video.variant (:image) %>
  </p>



  <p>
    <strong>&#8358;</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

      <p class ="text-button-color">
      <%= link_to "Show this item", item  %>
    </p>

</div>


</div>
