<div class="grid place-items-center pt-12" id="<%= dom_id item %>">
  
  <p class="font-bold text-3xl">
    
    <%= item.name %>
  </p>

  <p>
    
    <%= image_tag item.image_video.variant (:image) %>
  </p>



  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= item.condition %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>



</div>
