<nav class="justify-center">

<div class=" 
  bg-white 
 drop-shadow-md 
  py-4
">


<div class=" items-start  pl-16  invisible lg:visible">
 <p class="text-xl font-bold relative  ">
   Sell
   <span class="text-2xl absolute top-4 left-0 font-black text-button-color">Smart</span>
 </p>
</div>


<div class="flex md:justify-end flex-wrap justify-center gap-6  md:gap-20 pr-2  md:pr-28">



  <%= form_with(url: items_path, method: :get, data: {turbo_frame: "items"}) do |form| %>
     
  <div class=" pl-2">
  <%= form.text_field :query, placeholder:"  search for used item near you!", class: 
  "py-2
  text-sm
  h-10 
  w-50
  md:w-96
  
  focus:ring-0 
  rounded-full 
  bg-white 
  stroke-white 
  border-2
  border-button-color
   hover:drop-shadow-xl
   drop-shadow-md" %>

  <% end %>

</div>


<div class="w-5 hidden" >
<%= render "darkmode_button/darkmode_toggle" %>
</div>


<div class = "stroke-button-color stroke-2  pt-2">
  <%= link_to "+ Sell", new_item_path, class:"bg-black text-white font-bold  
    px-4 p-1 rounded-4xl  border-solid border-2 border-button-color 
    drop-shadow-md hover:drop-shadow-xl  w-2  h-0.5 rounded-md " %>
</div>


<div>
<%=link_to new_user_registration_path do %>
 <%= image_tag ("account1.png"), class:"w-8 drop-shadow-md hover:drop-shadow-xl "%>
<% end %>
</div>




</nav>

<% if user_signed_in? %>
<div class="bg-black text-white px-8 py-4 flex place-items-center gap-8">
  Logged in as  <strong> <%= current_user.email %></strong>.

  <div><%= link_to "Edit profile", edit_user_registration_path, class: "navbar-link" %> </div>|
  <div><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete },  class: "bg-button-color text-white border-2 border-cyan-400"  %></div>

<%else%>
<p><%=link_to "Create Your Account", new_user_registration_path, class:"font-bold text-xl"%> to start selling for FREE!</p>
<%end%>
</div>